<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File Validator</title>
</head>
<body>

    <h1>IBAN Validator</h1>
    <p>Please enter file path and it's name, containing IBANS to validate.</p>
    <form th:action="@{/upload}" method="post">
        <input type="text" id="path" name="path">
        <button type="Submit">Validate</button><br>
        <span th:text="${msg}"></span>
    </form>
    <form th:action="@{/}" method="get">
        <button type="Submit">Go to String Validator page</button>
    </form>

</body>
</html>